<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="messageSource"	class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
			<property name="basenames" value="classpath:messages,classpath:messages_de,classpath:messages_en_US" />
			<property name="defaultEncoding" value="UTF-8"/>
			<property name="fallbackToSystemLocale" value="false"/>
	</bean>
	
 	<bean id="localeResolver"	class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="de" />
		
	</bean>

	<bean id="localeChangeInterceptor"	class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="language" />
	</bean>

	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" >
		<property name="interceptors">
			<list>
				<ref bean="localeChangeInterceptor" />
			</list>
		</property>
	</bean>


	<context:component-scan base-package="com.example"/>

	<mvc:annotation-driven/>

	<mvc:default-servlet-handler/>
		
	<bean id="viewResolver"
	    class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
	</bean>

	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer" id="tilesConfigurer">
	<property name="definitions">
	    <list>
		<value>/WEB-INF/tiles-definitions.xml</value>
	    </list>
	</property>
	</bean>
</beans>

